<mat-drawer-container hasBackdrop="true" class="example-container" autosize>
  <app-header
    (onChangeMenu)="drawer.toggle(); isMenuOpen = $event"
  ></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>

  <mat-drawer #drawer  class="example-sidenav primaryStyle" mode="over">
    <!-- <p>{{ 1 | percent}}</p> -->
    <!-- {{ objeto | json }} -->
    <div class="button-container">
    <a routerLink="/home" mat-button *ngIf="isMenuOpen">Home</a> <!-- *ngIf mostrar elemento - booleano  -->
    <a routerLink="/sobreMi" mat-button *ngIf="isMenuOpen">Sobre Mi</a>
    <a routerLink="/contactos" mat-button *ngIf="isMenuOpen">Contactos</a>
  </div>
  </mat-drawer>
</mat-drawer-container>
