<div class="filaDeImagenes">
  <div style="width: 33%">
    <img
      width="100%"
      mat-card-image
      src="../../assets/images/certificado de programación web.png"
      alt="Photo of a Shiba Inu"
    />
  </div>
  <div style="width: 33%">
    <img
      width="100%"
      mat-card-image
      src="../../assets/images/diploma javascript.png"
      alt="Photo of a Shiba Inu"
    />
  </div>
  <div style="width: 33%">
    <img
      width="100%"
      mat-card-image
      src="../../assets/images/certificado de react,js.png"
      alt="Photo of a Shiba Inu"
    />
  </div>
</div>
