<mat-grid-list cols="3">
    <div>
    <mat-grid-tile>1</mat-grid-tile>
    <img mat-card-image src="https://pbs.twimg.com/profile_images/1453828631730724864/RHewwsSf_400x400.jpg" alt="Photo of a Shiba Inu">
</div>
<div>
    <mat-grid-tile>2</mat-grid-tile>
    <img mat-card-image src="https://pbs.twimg.com/profile_images/1453828631730724864/RHewwsSf_400x400.jpg" alt="Photo of a Shiba Inu">
</div>
<div>
    <mat-grid-tile>3</mat-grid-tile>
    <img mat-card-image src="https://pbs.twimg.com/profile_images/1453828631730724864/RHewwsSf_400x400.jpg" alt="Photo of a Shiba Inu">
</div>
  </mat-grid-list>
